@model BusinessSuite.Models.ViewModels.UserTableViewModel
@using X.PagedList
@using X.PagedList.Mvc.Core

@{
    ViewData["Title"] = "Applications Users";
}

<div class="container-fluid d-flex flex-column min-vh-100 p-0">
    <div class="col-lg-12 grid-margin stretch-card flex-grow-1">
        <div class="card h-100">
            <div class="card-body">
                <h4 class="card-title">Users</h4>

                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>@Html.DisplayNameFor(model => model.userRoleCompanyViewModels.FirstOrDefault().UserName)</th>
                                <th>@Html.DisplayNameFor(model => model.userRoleCompanyViewModels.FirstOrDefault().Email)</th>
                                <th>@Html.DisplayNameFor(model => model.userRoleCompanyViewModels.FirstOrDefault().Phone)</th>
                                <th>@Html.DisplayNameFor(model => model.userRoleCompanyViewModels.FirstOrDefault().Role)</th>
                                <th>@Html.DisplayNameFor(model => model.userRoleCompanyViewModels.FirstOrDefault().Company)</th>
                                <th>@Html.DisplayNameFor(model => model.userRoleCompanyViewModels.FirstOrDefault().Group)</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.userRoleCompanyViewModels)
                            {
                                <tr>
                                    <td>@item.FirstName @item.LastName</td>
                                    <td>@item.UserName</td>
                                    <td>@item.Email</td>
                                    <td>@item.Phone</td>
                                    <td>@item.Role</td>
                                    <td>@item.Company</td>
                                    <td>@item.Group</td>
                                    <td>
                                        <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index"><i class="mdi mdi-tooltip-edit text-primary me-2"></i></a>
                                        <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index"><i class="mdi mdi-delete text-primary me-2"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="d-flex justify-content-center mt-3">
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center">
                            <li class="page-item @(Model.userRoleCompanyViewModels.HasPreviousPage ? string.Empty : "disabled")">
                                <a class="page-link" href="@Url.Action("Index", new { page = Model.userRoleCompanyViewModels.PageNumber - 1 })" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            @for (var i = 1; i <= Model.totalpages; i++)
                            {
                                <li class="page-item @(i == Model.userRoleCompanyViewModels.PageNumber ? "active" : string.Empty)">
                                    <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
                                </li>
                            }
                            <li class="page-item @(Model.userRoleCompanyViewModels.HasNextPage ? string.Empty : "disabled")">
                                <a class="page-link" href="@Url.Action("Index", new { page = Model.userRoleCompanyViewModels.PageNumber + 1 })" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>



