@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityUser>
@{
    ViewData["Title"] = "Applications Users";
}
<style>
  
</style>

    <div class="col-12">
        <div class="bg-secondary rounded h-100 p-4">
        <h6 class="mb-4" style="color:#6C7293">Application Users</h6>
            <div class="table-responsive">
            <table class="table table-borderless table-hover table-dark table-red">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th>@Html.DisplayNameFor(model => model.Id)</th>
                            <th>@Html.DisplayNameFor(model => model.UserName)</th>
                            <th>@Html.DisplayNameFor(model => model.Email)</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th scope="row">1</th>
                                <td>@item.Id</td>
                                <td>@item.UserName</td>
                                <td>@item.Email</td>
                               
                            </tr>

                        }
                    
                    </tbody>
                </table>
            </div>
        </div>
    </div>



<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>



<script src="~/js/main.js"></script>
