@model System.Data.DataTable
@using System.Data
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var tableName = ViewBag.TableName as string;

    List<string> tableNames = ViewBag.TableNames as List<string>;
    DataTable columnNames = ViewBag.ColumnNames as DataTable;
    string currentTableName = ViewBag.TableName as string;

    var dropDownOptions = new List<string>();
}

@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>

        $(document).ready(function () {
            var pageIndex = 0;
            var pageSize = 50;
            var tableName = '@ViewData["TableName"]';

            fetchData();


            $('.scroll-container').on('scroll', function () {
                // Handle the scroll event
                console.log('Table is being scrolled');
                // You can add your custom logic here

                pageIndex++;
                fetchData();
            });
            function fetchData() {
                $.ajax({
                    url: '@Url.Action("GetTableData", "Catalogue")',
                    type: 'GET',
                    data: { szTableName: tableName, szPageIndex: pageIndex, szPageSize: pageSize },
                    success: function (data) {
                        debugger
                        if (data.length > 0) {
                            debugger
                            var tableHeader = $('<tr>');
                            $.each(data[0], function (key, value) {
                                $('<th>').text(key).appendTo(tableHeader);
                            });

                            $('#dataTable thead').empty().append(tableHeader);

                            var tableBody = $('#dataTable tbody');
                            $.each(data, function (index, item) {
                                var row = $('<tr>').appendTo(tableBody);
                                $.each(item, function (key, value) {
                                    $('<td>').text(value).appendTo(row);
                                });
                            });


                        }
                    }
                });
            }
        });



        document.getElementById('catalogueForm').addEventListener('submit', function (event) {
            debugger
            var checkboxes = document.querySelectorAll('input[type="checkbox"]:checked');
            var container = document.getElementById('hiddenFieldsContainer');
            container.innerHTML = ''; // Clear any existing hidden fields

            checkboxes.forEach(function (checkbox) {
                debugger
                var name = checkbox.getAttribute('data-name');
                var id = checkbox.getAttribute('data-id');

                var inputName = document.createElement('input');
                inputName.type = 'hidden';
                inputName.name = 'data[' + name + ']';
                inputName.value = id;
                container.appendChild(inputName);
            });
        });

        $(document).ready(function () {
            $('#itemSearch').on('input', function () {
                var searchValue = $(this).val().toLowerCase();
                $('#itemsContainer .form-check').filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(searchValue) > -1);
                });
            });

            $('#catalogueForm').on('submit', function (event) {
                debugger
                var checkboxes = $('#itemsContainer input[type="checkbox"]:checked');
                var container = $('#hiddenFieldsContainer');
                container.empty(); // Clear any existing hidden fields

                checkboxes.each(function () {
                    var name = $(this).data('name');
                    var id = $(this).data('id');

                    var inputName = $('<input>').attr({
                        type: 'hidden',
                        name: 'data[' + name + ']',
                        value: id
                    });
                    container.append(inputName);
                });
            });
        });
    </script>
}





<style>

    /* .main-panel{
        max-width: 2000px;
        margin: 37px auto;
        padding: 0px;
    } */
    .scroll-container {
        display: flex;
        flex-direction: column;
        overflow-x: auto;
    }

    .table-header {
        overflow: hidden;
    }

    .table-body {
        overflow-y: auto;
        overflow-x: auto;
        max-height: 500px; /* Adjust this value as needed */
    }

        .table-header table,
        .table-body table {
            margin-bottom: 0;
            white-space: nowrap;
        }

    .table-header th {
        position: sticky;
        top: 0;
        z-index: 1;
        background-color: #343a40;
    }

    .thead-dark th {
        color: #343a40;
        background-color: #343a40;
    }

    .card {
        background-color: #F4F5F7;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        color: white; /* Adjust text color for contrast */
    }

    .card-title {
        color: white; /* Ensure the title is readable */
    }

    .btn-danger, .btn-primary, .btn-warning {
        border-color: white; /* Ensure buttons are visible against the background */
    }

    .form-control {
        color: black; /* Input text color */
    }

</style>






<!-- Include Bootstrap CSS and JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- Custom CSS -->

<style>

    .scroll-container {
        max-height: 400px; /* Set your desired fixed height */
        overflow-y: scroll;
    }

    /* Optional: To ensure the table header stays fixed while scrolling */
    #dataTable thead {
        position: sticky;
        top: 0;
        z-index: 1;
        background-color: white; /* Adjust this to match your table header background */
    }

    /* .scroll-container {
            display: flex;
            flex-direction: column;
            overflow-x: auto;
        } */

    .table-header {
        overflow: hidden;
    }

    .table-body {
        overflow-y: auto;
        overflow-x: auto;
        max-height: 500px; /* Adjust this value as needed */
    }

        .table-header table,
        .table-body table {
            margin-bottom: 0;
            white-space: nowrap;
        }

    .table-header th {
        position: sticky;
        top: 0;
        z-index: 1;
        background-color: #343a40;
    }

    .thead-dark th {
        color: black;
        background-color: #343a40;
    }

    .card {
        background-color: #F4F5F7;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        color: white; /* Adjust text color for contrast */
    }

    .card-title {
        color: white; /* Ensure the title is readable */
    }

    .btn-danger, .btn-primary, .btn-warning {
        border-color: white; /* Ensure buttons are visible against the background */
    }

    .form-control {
        color: black; /* Input text color */
    }

    select[multiple] {
        height: auto;
        overflow-y: auto;
    }

</style>
<!-- Include Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<!-- Include jQuery -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<!-- Include Bootstrap JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<!-- Include Bootstrap Multiselect CSS and JS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-multiselect@1.1.1/dist/css/bootstrap-multiselect.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap-multiselect@1.1.1/dist/js/bootstrap-multiselect.min.js"></script>


@* <h1 style="color: #04264b;">@tableName</h1> *@
<div class="row">
    <div class="col-sm-12">
        <div class="home-tab">
            <div class="d-sm-flex align-items-center justify-content-between border-bottom">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <button type="button" class="btn btn-success btn-rounded btn-fw nav-link active ps-0" data-toggle="modal" data-target="#addPlanModal">Add New</button>
                    </li>
                    <li class="nav-item">
                        <button type="button" class="btn btn-danger btn-rounded btn-fw nav-link active ps-0" data-toggle="modal" data-target="#addColumnModal">Add Column</button>
                    </li>
                    <li class="nav-item">
                        <button type="button" class="btn btn-warning btn-rounded btn-fw nav-link active ps-0" data-toggle="modal" data-target="#addFileModal">Upload File</button>
                    </li>
                </ul>
                <div>
                    <div class="btn-wrapper">
                        <a href="#" class="btn btn-otline-dark align-items-center"><i class="icon-share"></i> Share</a>
                        <a href="#" class="btn btn-otline-dark"><i class="icon-printer"></i> Print</a>
                        <a href="#" class="btn btn-primary text-white me-0"><i class="icon-download"></i> Export</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="scroll-container table-responsive">
    <div id="scrollContainer">
        <table id="dataTable" class="table table-hover table-striped">
            <thead>
            </thead>
            <tbody class="table-body">
            </tbody>
        </table>
    </div>
</div>

<div class="content-wrapper">
    @*  <div class="row">
    <div class="scroll-container table-responsive">
    <div id="scrollContainer">
    <table id="dataTable" class="table table-hover table-striped">
    <thead>
    </thead>
    <tbody class="table-body">
    </tbody>
    </table>
    </div>
    </div>
    </div> *@



    @*   <a class="btn btn-success btn-sm edit-plan" data-toggle="modal" data-target="#editPlanModal" data-planid="@plan.PlanId" data-planname="@plan.PlanName" data-plandescription="@plan.PlanDescription" data-planprice="@plan.PlanPrice" data-isactive="@plan.IsActive" data-plantype="@plan.PlanType" data-planduration="@plan.PlanDuration">Edit</a>

    <a class="btn btn-danger btn-sm delete-plan" data-plan-id="@plan.PlanId" href="#">Delete</a>
    *@<div id="partialContainer"></div>


    <!-- Add Plan Modal -->
    <div class="modal fade" id="addPlanModal" tabindex="-1" role="dialog" aria-labelledby="editPlanModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <form asp-controller="Catalogue" asp-action="AddData" method="post" id="catalogueForm">
                <input type="hidden" name="tableName" value="@tableName" />
                <div class="modal-content rounded-0">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editPlanModalLabel">Add @tableName data</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <input class="form-control" id="editPlanId" hidden>
                    <div class="modal-body">

                        @foreach (DataRow row in columnNames.Rows)
                        {
                            var columnName = @row["COLUMN_NAME"].ToString();
                            var columnType = @row["DATA_TYPE"].ToString();
                            var columnData = @row["coldata"].ToString();

                            if (columnType == "bit" || columnType == "datetimeoffset")
                            {

                            }
                            else
                            {
                                if (@row["COLUMN_NAME"].ToString().Equals("CreatedDate") || @row["COLUMN_NAME"].ToString().Equals("Id") || @row["COLUMN_NAME"].ToString().Equals("id"))
                                {
                                    <!-- Skip specific columns -->
                                }
                                else
                                {
                                    <div class="form-group d-inline-block w-auto">
                                        @if (columnType == "int")
                                        {
                                            <input type="number" name="data[@columnName]" placeholder="@columnName" class="form-control" required />
                                        }
                                        else if (columnType == "nvarchar")
                                        {
                                            <input type="text" name="data[@columnName]" placeholder="@columnName" class="form-control" required pattern=".*\S.*" title="This field cannot be empty or contain only spaces." />
                                        }
                                        else if (columnType == "datetime2")
                                        {
                                            @*  else if (@row["COLUMN_NAME"].ToString().Contains("scheduleTime"))
                            {
                            <input type="hidden" name="data[@row["COLUMN_NAME"].ToString()]" value="@DateTime.Now" />
                            }
                            *@
                                            <input type="datetime-local" name="data[@columnName]" placeholder="@columnName" class="form-control" value="@DateTime.Now" required />
                                        }
                                        else
                                        {

                                            var coltype = columnType;
                                            var strsplit = columnData.Split('~');

                                            foreach (var str in strsplit)
                                            {
                                                @if (!dropDownOptions.Contains(str))
                                                {
                                                    dropDownOptions.Add(str);
                                                }
                                            }
                                            @if (dropDownOptions.Any())
                                            {
                                                if (coltype.Equals("oneselect"))
                                                {
                                                    <div class="form-group d-inline-block w-auto">
                                                        <select name="data[@columnName]" class="form-control">
                                                            @foreach (var option in dropDownOptions)
                                                            {
                                                                if (!option.Equals(""))
                                                                {
                                                                    string[] strsply = option.Split('-');
                                                                    <option value="@strsply[1]">@strsply[0]</option>
                                                                }
                                                            }
                                                        </select>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="form-group">
                                                        <label for="itemSearch" class="control-label">Search Items</label>
                                                        <input type="text" id="itemSearch" class="form-control" placeholder="Search items..." />
                                                    </div>

                                                    <div class="form-group" style="max-height: 400px; overflow-y: scroll;">
                                                        <div id="itemsContainer">
                                                            @foreach (var option in dropDownOptions)
                                                            {
                                                                if (!option.Equals(""))
                                                                {
                                                                    string[] strsply = option.Split('-');

                                                                    <div class="form-check">
                                                                        <input type="checkbox" class="form-check-input" data-name="@strsply[0]~@columnName" data-id="@strsply[1]" />
                                                                        <label class="form-check-label">@strsply[0]</label>
                                                                    </div>
                                                                }

                                                            }
                                                        </div>
                                                    </div>

                                                    <div id="hiddenFieldsContainer"></div>
                                                }

                                            }



                                            dropDownOptions.Clear();
                                        }
                                    </div>
                                }
                            }
                        }

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </form>
        </div>
    </div>



    <!-- Add file Modal -->
    <div class="modal fade" id="addFileModal" tabindex="-1" role="dialog" aria-labelledby="editPlanModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <input type="hidden" name="tableName" value="@tableName" />
            <div class="modal-content rounded-0">
                <div class="modal-header">
                    <h5 class="modal-title" id="editPlanModalLabel">Edit Plan</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <h4 class="card-title">Upload File/Download Template</h4>
                <div class="form-group">
                    <form asp-controller="Catalogue" asp-action="UploadFile" asp-route-tablename="@tableName" enctype="multipart/form-data" method="post">
                        <div class="form-group">
                            <label for="file">Select file to upload (xlsx or csv):</label>
                            <input type="file" name="file" class="form-control" required />
                        </div>
                        <div class="d-flex justify-content-between">
                            <button type="submit" class="btn btn-danger btn-icon-text">
                                <i class="ti-upload btn-icon-prepend"></i>
                                Upload
                            </button>

                        </div>
                    </form>
                </div>
                <div class="form-group">
                    <form method="get" asp-controller="Catalogue" asp-action="DownloadTemplate">
                        <div class="form-group">
                            <label hidden for="tableName">Table Name</label>
                            <input type="text" value="@tableName" class="form-control" id="tableName" name="tableName" required hidden />
                        </div>
                        <button type="submit" class="btn btn-primary">Download Template</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Add column Modal -->
    <!-- Add column Modal -->
    <div class="modal fade" id="addColumnModal" tabindex="-1" role="dialog" aria-labelledby="editPlanModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <input type="hidden" name="tableName" value="@tableName" />
            <div class="modal-content rounded-0">
                <div class="modal-header">
                    <h5 class="modal-title" id="editPlanModalLabel">Edit Plan</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <h4 class="card-title">Upload File/Download Template</h4>
                <div class="form-group row">
                    <div class="col">
                        <label>
                            <p class="card-description">
                                Column Add
                            </p>
                        </label>
                        <div id="the-basics">
                            <form asp-controller="Catalogue" asp-action="AddColumn" method="post" class="d-inline">
                                <input type="hidden" name="tableName" value="@currentTableName" />
                                <input type="text" name="columnName" placeholder="New Column Name" class="form-control d-inline-block w-auto mb-2" required />
                                <select name="columnType" class="form-control d-inline-block w-auto mb-2" required>
                                    <option value="int">INT</option>
                                    <option value="nvarchar(100)">NVARCHAR(100)</option>
                                    <option value="datetime">DATETIME</option>
                                    <!-- Add more types as needed -->
                                    <option value="foreign_key">FOREIGN KEY</option>
                                </select>
                                <select name="referencedTable" class="form-control d-inline-block w-auto mb-2">
                                    <option value="" disabled selected>Select Referenced Table</option>
                                    @foreach (var tableName1 in tableNames)
                                    {
                                        <option value="@tableName1">@tableName1</option>
                                    }
                                </select>
                                <input type="text" name="referencedColumn" placeholder="Referenced Column" class="form-control d-inline-block w-auto mb-2" value="Id" disabled />
                                <button type="submit" class="btn btn-primary mb-2">Add Column</button>
                            </form>
                        </div>
                    </div>
                    <div class="col">
                        <label>
                            <p class="card-description">
                                Column Delete
                            </p>
                        </label>
                        <div id="bloodhound">
                            <form asp-controller="Catalogue" asp-action="DeleteColumn" method="post" class="d-inline">
                                <input type="hidden" name="tableName" value="@tableName" />
                                <select name="columnName" class="form-control d-inline-block w-auto mb-2" required>
                                    @foreach (DataRow row in columnNames.Rows)
                                    {
                                        <option value="@row["COLUMN_NAME"].ToString()">@row["COLUMN_NAME"].ToString()</option>
                                    }
                                </select>
                                <button type="submit" class="btn btn-danger mb-2">Delete Column</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Edit Plan Modal -->
    <div class="modal fade" id="editPlanModal" tabindex="-1" role="dialog" aria-labelledby="editPlanModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <form id="editPlanForm">
                <div class="modal-content rounded-0">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editPlanModalLabel">Edit Plan</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <input class="form-control" id="editPlanId" hidden>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label class="form-label">Plan Name</label>
                            <input class="form-control" id="editPlanName" placeholder="Enter Plan Name" required pattern="^[A-Za-z0-9\s-(-)]+$">
                            <span class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Description</label>
                            <textarea class="form-control" id="editPlanDescription" rows="3" placeholder="Enter Plan Description" required></textarea>
                            <span class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Price</label>
                            <input class="form-control" id="editPlanPrice" placeholder="Enter Price" required pattern="^\d+(\.\d{1,2})?$">
                            <span class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="editIsActive">
                                <label class="form-check-label" for="editIsActive">Active</label>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Type</label>
                            <select class="form-control" id="editPlanType" required>
                                <option value="conversations-api">Conversations API</option>
                                <option value="conversations-inbox">Conversations Inbox</option>
                            </select>
                            <span class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Plan Duration</label>
                            <select class="form-control" id="editPlanDuration" required>
                                <option value="monthly">Monthly</option>
                                <option value="yearly">Yearly</option>
                            </select>
                            <span class="text-danger"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
@* //////////////
<div class="content-wrapper">
    <div class="row">
        <div class="col-sm-12">
            <div class="home-tab">
                <div class="d-sm-flex align-items-center justify-content-between border-bottom">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active ps-0" id="home-tab" data-bs-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="true">Overview</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#audiences" role="tab" aria-selected="false">Audiences</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="contact-tab" data-bs-toggle="tab" href="#demographics" role="tab" aria-selected="false">Demographics</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link border-0" id="more-tab" data-bs-toggle="tab" href="#more" role="tab" aria-selected="false">More</a>
                        </li>
                    </ul>
                    <div>
                        <div class="btn-wrapper">
                            <a href="#" class="btn btn-otline-dark align-items-center"><i class="icon-share"></i> Share</a>
                            <a href="#" class="btn btn-otline-dark"><i class="icon-printer"></i> Print</a>
                            <a href="#" class="btn btn-primary text-white me-0"><i class="icon-download"></i> Export</a>
                        </div>
                    </div>
                </div>
                <div class="tab-content tab-content-basic">
                    <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="statistics-details d-flex align-items-center justify-content-between">
                                    <div>
                                        <p class="statistics-title">Bounce Rate</p>
                                        <h3 class="rate-percentage">32.53%</h3>
                                        <p class="text-danger d-flex"><i class="mdi mdi-menu-down"></i><span>-0.5%</span></p>
                                    </div>
                                    <div>
                                        <p class="statistics-title">Page Views</p>
                                        <h3 class="rate-percentage">7,682</h3>
                                        <p class="text-success d-flex"><i class="mdi mdi-menu-up"></i><span>+0.1%</span></p>
                                    </div>
                                    <div>
                                        <p class="statistics-title">New Sessions</p>
                                        <h3 class="rate-percentage">68.8</h3>
                                        <p class="text-danger d-flex"><i class="mdi mdi-menu-down"></i><span>68.8</span></p>
                                    </div>
                                    <div class="d-none d-md-block">
                                        <p class="statistics-title">Avg. Time on Site</p>
                                        <h3 class="rate-percentage">2m:35s</h3>
                                        <p class="text-success d-flex"><i class="mdi mdi-menu-down"></i><span>+0.8%</span></p>
                                    </div>
                                    <div class="d-none d-md-block">
                                        <p class="statistics-title">New Sessions</p>
                                        <h3 class="rate-percentage">68.8</h3>
                                        <p class="text-danger d-flex"><i class="mdi mdi-menu-down"></i><span>68.8</span></p>
                                    </div>
                                    <div class="d-none d-md-block">
                                        <p class="statistics-title">Avg. Time on Site</p>
                                        <h3 class="rate-percentage">2m:35s</h3>
                                        <p class="text-success d-flex"><i class="mdi mdi-menu-down"></i><span>+0.8%</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h4 class="card-title">@tableName</h4>
                        <div class="container mb-4">
                            <div class="row">
                                <div class="col-md-6 grid-margin stretch-card">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4 class="card-title">Upload File/Download Template</h4>
                                            <div class="form-group">
                                                <form asp-controller="Catalogue" asp-action="UploadFile" asp-route-tablename="@tableName" enctype="multipart/form-data" method="post">
                                                    <div class="form-group">
                                                        <label for="file">Select file to upload (xlsx or csv):</label>
                                                        <input type="file" name="file" class="form-control" required />
                                                    </div>
                                                    <div class="d-flex justify-content-between">
                                                        <button type="submit" class="btn btn-danger btn-icon-text">
                                                            <i class="ti-upload btn-icon-prepend"></i>
                                                            Upload
                                                        </button>

                                                    </div>
                                                </form>
                                            </div>
                                            <div class="form-group">
                                                <form method="get" asp-controller="Catalogue" asp-action="DownloadTemplate">
                                                    <div class="form-group">
                                                        <label hidden for="tableName">Table Name</label>
                                                        <input type="text" value="@tableName" class="form-control" id="tableName" name="tableName" required hidden />
                                                    </div>
                                                    <button type="submit" class="btn btn-primary">Download Template</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 grid-margin stretch-card">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4 class="card-title">Column : Add/Delete</h4>
                                            <p class="card-description">
                                                Column Add and Delete
                                            </p>
                                            <div class="form-group row">
                                                <div class="col">
                                                    <label>
                                                        <p class="card-description">
                                                            Column Add
                                                        </p>
                                                    </label>
                                                    <div id="the-basics">
                                                        <form asp-controller="Catalogue" asp-action="AddColumn" method="post" class="d-inline">
                                                            <input type="hidden" name="tableName" value="@tableName" />
                                                            <input type="text" name="columnName" placeholder="New Column Name" class="form-control d-inline-block w-auto mb-2" required />
                                                            <select name="columnType" class="form-control d-inline-block w-auto mb-2" required>
                                                                <option value="int">INT</option>
                                                                <option value="nvarchar(100)">NVARCHAR(100)</option>
                                                                <option value="datetime">DATETIME</option>
                                                                <!-- Add more types as needed -->
                                                            </select>
                                                            <button type="submit" class="btn btn-primary mb-2">Add Column</button>
                                                        </form>

                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <label>
                                                        <p class="card-description">
                                                            Column Delete
                                                        </p>
                                                    </label>
                                                    <div id="bloodhound">
                                                        <form asp-controller="Catalogue" asp-action="DeleteColumn" method="post" class="d-inline">
                                                            <input type="hidden" name="tableName" value="@tableName" />
                                                            <select name="columnName" class="form-control d-inline-block w-auto mb-2" required>
                                                                @foreach (DataColumn column in Model.Columns)
                                                                {
                                                                    <option value="@column.ColumnName">@column.ColumnName</option>
                                                                }
                                                            </select>
                                                            <button type="submit" class="btn btn-danger mb-2">Delete Column</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-warning" onclick="editSelected()">Edit Selected</button>
                            <button class="btn btn-danger" onclick="deleteSelected()">Delete Selected</button>
                        </div>
                        <div class="mt-3">
                            <form asp-controller="Catalogue" asp-action="AddData" method="post">
                                <input type="hidden" name="tableName" value="@tableName" />
                                @foreach (DataColumn column in Model.Columns)
                                {
                                    if (@column.ColumnName.Contains("CreatedDate") || @column.ColumnName.Contains("Id") || @column.ColumnName.Contains("id"))
                                    {
                                        <!-- Skip specific columns -->
                                    }
                                    else if (@column.ColumnName.Contains("scheduleTime"))
                                    {
                                        <input type="hidden" name="data[@column.ColumnName]" value="@DateTime.Now" />
                                    }
                                    else
                                    {
                                        <div class="form-group d-inline-block w-auto">
                                            <input type="text" name="data[@column.ColumnName]" placeholder="@column.ColumnName" class="form-control" required />
                                        </div>
                                    }
                                }
                                <button type="submit" class="btn btn-primary">Add Data</button>
                            </form>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 d-flex flex-column">
                                <div class="row flex-grow">
                                    <div class="col-12 col-lg-4 col-lg-12 grid-margin stretch-card">
                                        <div class="card card-rounded">
                                            <div class="card-body">
                                                <div class="scroll-container table-responsive">
                                                    <div class="table-header">
                                                        <table id="dataTableHeader" class="table table-hover table-striped">
                                                            <thead class="thead-dark">
                                                                <tr>
                                                                    <th><input type="checkbox" id="selectAll" /></th>
                                                                    <!-- Table headers will be populated by jQuery -->
                                                                </tr>
                                                            </thead>
                                                        </table>
                                                    </div>
                                                    <div class="table-body">
                                                        <table id="dataTableBody" class="table table-hover table-striped">
                                                            <tbody>
                                                                <!-- Table data will be populated by jQuery -->
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  *@