@model BusinessSuite.Models.ViewModels.CataloguesViewModel
@using X.PagedList
@using X.PagedList.Mvc.Core

@{
    ViewData["Title"] = "Catalogues";
    var dbMasterId = TempData["DbMasterId"];
}
@* <div class="col-lg-12 grid-margin stretch-card">
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Catalogues</h4>
        <a class="btn btn-primary mb-3" asp-controller="Catalogue" asp-action="CreateTable" asp-route-szDatabaseMasterId="@dbMasterId">Create Table</a>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Created Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Catalogues)
                    {
                        <tr>
                            <td>
                                <a asp-controller="Catalogue" asp-action="DisplayTable" asp-route-szTableName="@item.Name" asp-route-szDatabaseMasterId="@dbMasterId">

                                    <label class="badge badge-danger">@item.Name</label>
                                    </a>
                            </td>
                            <td>@item.CreatedDate</td>
                            <td>
                                <a class="dropdown-item d-inline" asp-controller="Catalogue" asp-action="EditTable" asp-route-tableName="@item.Name">
                                    <i class="mdi mdi-tooltip-edit text-primary me-2"></i>
                                </a>
                                <a class="dropdown-item d-inline" asp-controller="Catalogue" asp-action="DeleteTable" asp-route-tableName="@item.Name" onclick="return confirm('Are you sure you want to delete this table?');">
                                    <i class="mdi mdi-delete text-primary me-2"></i>
                                </a>
                            </td>
                        </tr>
                    }
                        
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
 *@

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Catalogues</span></h4>
   

    <div class="card">
        <h5 class="card-header" style="align-items:end"> <a class="btn btn-primary mb-3" asp-controller="Catalogue" asp-action="CreateTable" asp-route-szDatabaseMasterId="@dbMasterId">Create Table</a></h5>
        <div class="table-responsive text-nowrap">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Created Date</th>
                        <th>Users</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    @foreach (var item in Model.Catalogues)
                    {
                        <tr>
                            <td>
                                <i class="fab fa-angular fa-lg text-danger me-3"></i> 
                                <a asp-controller="Catalogue" asp-action="DisplayTable" asp-route-szTableName="@item.Name" asp-route-szDatabaseMasterId="@dbMasterId">
                                    <strong>
                                        @item.Name
                                    </strong>
                                </a>
                            </td>
                            <td>@item.CreatedDate</td>
                            <td>
                                <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
                                    <li data-bs-toggle="tooltip"
                                        data-popup="tooltip-custom"
                                        data-bs-placement="top"
                                        class="avatar avatar-xs pull-up"
                                        title="Lilian Fuller">
                                        <img src="../assets/img/avatars/5.png" alt="Avatar" class="rounded-circle" />
                                    </li>
                                    <li data-bs-toggle="tooltip"
                                        data-popup="tooltip-custom"
                                        data-bs-placement="top"
                                        class="avatar avatar-xs pull-up"
                                        title="Sophia Wilkerson">
                                        <img src="../assets/img/avatars/6.png" alt="Avatar" class="rounded-circle" />
                                    </li>
                                    <li data-bs-toggle="tooltip"
                                        data-popup="tooltip-custom"
                                        data-bs-placement="top"
                                        class="avatar avatar-xs pull-up"
                                        title="Christina Parker">
                                        <img src="../assets/img/avatars/7.png" alt="Avatar" class="rounded-circle" />
                                    </li>
                                </ul>
                            </td>
                            <td><span class="badge bg-label-primary me-1">Active</span></td>
                             <td>
                                <div class="dropdown">
                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                        <i class="bx bx-dots-vertical-rounded"></i>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" asp-controller="Catalogue" asp-action="EditTable" asp-route-tableName="@item.Name"><i class="bx bx-edit-alt me-1"></i> Edit</a>
                                        <a class="dropdown-item" asp-controller="Catalogue" asp-action="DeleteTable" asp-route-tableName="@item.Name" onclick="return confirm('Are you sure you want to delete this table?');"><i class="bx bx-trash me-1"></i> Delete</a>
                                    </div>
                                </div>
                            </td> 
                        </tr>
                    }
                
                </tbody>
            </table>
        </div>
    </div>
 </div>