@using BusinessSuite.Data
@using BusinessSuite.Models.Master_Models

@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject ApplicationDbContext _dbcontext
@{

    // Get the currently authenticated user
    var user = await UserManager.GetUserAsync(User);


    IList<string> roles = null;
    ApplicationUser applicationUser = null;
    // Check if the user is authenticated
    if (user != null)
    {

        applicationUser = _dbcontext.ApplicationUsers.Where(x => x.Id == user.Id).FirstOrDefault();
        // Get the user's roles
        roles = await UserManager.GetRolesAsync(user);

    }
    else
    {
    }
    var webId = 0;
    int? websiteId = TempData["WebsiteId"] as int?;

    // Check if count has a value and is greater than 0
    if (websiteId.HasValue)
    {
        webId = websiteId.HasValue ? websiteId.Value : 0;
    }
    var dbMaster = _dbcontext.DatabaseMasters.Where(i => i.WebsiteId == webId).FirstOrDefault();
    List<TableMaster> catalogs = null;
    if (dbMaster != null)
    {
        catalogs = _dbcontext.TableMasters.Where(i => i.DatabaseMasterId == dbMaster.Id).ToList();
    }

}



@if (SignInManager.IsSignedIn(User) && catalogs != null)
{
   @*  <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" asp-controller="Home" asp-action="Index">
                    <i class="mdi mdi-grid-large menu-icon"></i>
                    <span class="menu-title">Dashboard</span>
                </a>
            </li>
            
            <li class="nav-item nav-category">Administration</li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" href="#ui-admin" aria-expanded="false" aria-controls="ui-admin">
                    <i class="menu-icon mdi mdi-account-multiple"></i>
                    <span class="menu-title">Users</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="ui-admin">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item"> <a asp-controller="User" asp-action="GetUsers" class="nav-link">All Users</a></li>
                        <li class="nav-item"> <a asp-controller="User" asp-action="GetCompanies" class="nav-link">Companies</a></li>
                        <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Roles</a></li>
                    </ul>
                </div>
            </li>
             <!-- catalogue -->
            <li class="nav-item">
                <a asp-controller="Catalogue" asp-action="Index" asp-route-szDatabaseMasterId="@dbMaster.Id" class="nav-link">
                    <i class="menu-icon mdi mdi-folder-multiple-outline"></i>
                    <span class="menu-title">Catalogue</span>
                </a>
            </li>
            @* 
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" href="#ui-x" aria-expanded="false" aria-controls="ui-x">
                    <i class="menu-icon mdi mdi-account-multiple"></i>
                    <span class="menu-title">Catalogue</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="ui-x">
                    <ul class="nav flex-column sub-menu">
                        @foreach (var website in catalogs)
                        {
                            <li class="nav-item">
                                <a asp-controller="Catalogue" asp-action="DisplayTable"
                                   asp-route-szTableName="@website.Name"
                                   asp-route-szDatabaseMasterId="@website.DatabaseMasterId"
                                   class="nav-link">
                                    @website.Name
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </li>
        
        </ul>
       
    </nav> *@

    <div class="logo-name">
        <div class="logo-image">
            <img src="images/logo.png" alt="">
        </div>

        <span class="logo_name">CodingLab</span>
    </div>

    <div class="menu-items">
        <ul class="nav-links">
            <li>
                <a href="#">
                    <i class="uil uil-estate"></i>
                    <span class="link-name">Dahsboard</span>
                </a>
            </li>
            <li>
                <a asp-controller="Catalogue" asp-action="Index" asp-route-szDatabaseMasterId="@dbMaster.Id" class="nav-link">
                    <i class="uil uil-files-landscapes"></i>
                    <span class="link-name">Catalogue</span>
                </a>
               
            </li>
            <li>
                <a href="#">
                    <i class="uil uil-chart"></i>
                    <span class="link-name">Analytics</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="uil uil-thumbs-up"></i>
                    <span class="link-name">Like</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="uil uil-comments"></i>
                    <span class="link-name">Comment</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="uil uil-share"></i>
                    <span class="link-name">Share</span>
                </a>
            </li>
        </ul>

        <ul class="logout-mode">
            <li>
                <a href="#" onclick="document.getElementById('logout-form').submit(); return false;">
                    <i class="uil uil-signout"></i>
                    <span class="link-name">Logout</span>
                </a>
            </li>
            
            <form id="logout-form" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" style="display: none;">
                @* If you are using anti-forgery tokens, add the following line *@
                @Html.AntiForgeryToken()
            </form>
            <li class="mode">
                <a href="#">
                    <i class="uil uil-moon"></i>
                    <span class="link-name">Dark Mode</span>
                </a>

                <div class="mode-toggle">
                    <span class="switch"></span>
                </div>
            </li>
        </ul>
    </div>
}
